.active-link {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  background: transparent;
}

.active-menu {
  background-color: #5048e573;
  color: black;
  text-decoration: none;
  background: transparent;
}

.link-item {
  color: white;
  text-decoration: none;
  background: transparent;
}

.menu-item {
  color: black;
  text-decoration: none;
  background: transparent;
}